<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PDF.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5B41F0B71BC245FC003151BE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5B41F0D01BC245FC003151BE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5B41F0DB1BC245FC003151BE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
